@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Auction Market!</h1>
    <p>Learn more about the <a href="Home/Privacy">Privacy Policy</a>.</p>
</div>
