@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>@ViewData["Title"]</h3>

<p>This website complies with the European Union's (EU) General Data Protection Regulation (GDPR). Your privacy is protected and personal data is not provided to a third-party company.</p>
